<?xml version="1.0" encoding="utf-8"?>
<w:settings xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main" xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" xmlns:sl="http://schemas.openxmlformats.org/schemaLibrary/2006/main" xmlns:wpsCustomData="http://www.wps.cn/officeDocument/2013/wpsCustomData" mc:Ignorable="w14">
  <w:zoom w:percent="130"/>
  <w:bordersDoNotSurroundHeader w:val="1"/>
  <w:bordersDoNotSurroundFooter w:val="1"/>
  <w:attachedTemplate r:id="rId1"/>
  <w:documentProtection w:enforcement="0"/>
  <w:defaultTabStop w:val="420"/>
  <w:autoHyphenation/>
  <w:hyphenationZone w:val="357"/>
  <w:doNotHyphenateCaps/>
  <w:evenAndOddHeaders w:val="1"/>
  <w:drawingGridHorizontalSpacing w:val="6"/>
  <w:drawingGridVerticalSpacing w:val="6"/>
  <w:noPunctuationKerning w:val="1"/>
  <w:characterSpacingControl w:val="compressPunctuation"/>
  <w:footnotePr>
    <w:footnote w:id="0"/>
    <w:footnote w:id="1"/>
  </w:footnotePr>
  <w:endnotePr>
    <w:endnote w:id="0"/>
    <w:endnote w:id="1"/>
  </w:endnotePr>
  <w:compat>
    <w:spaceForUL/>
    <w:balanceSingleByteDoubleByteWidth/>
    <w:doNotLeaveBackslashAlone/>
    <w:ulTrailSpace/>
    <w:doNotExpandShiftReturn/>
    <w:adjustLineHeightInTable/>
    <w:useFELayout/>
    <w:compatSetting w:name="compatibilityMode" w:uri="http://schemas.microsoft.com/office/word" w:val="15"/>
    <w:compatSetting w:name="overrideTableStyleFontSizeAndJustification" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    <w:compatSetting w:name="enableOpenTypeFeatures" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    <w:compatSetting w:name="doNotFlipMirrorIndents" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    <w:compatSetting w:name="differentiateMultirowTableHeaders" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
  </w:compat>
  <w:rsids>
    <w:rsidRoot w:val="00B0099E"/>
    <w:rsid w:val="00000AC4"/>
    <w:rsid w:val="00010DA3"/>
    <w:rsid w:val="00011A57"/>
    <w:rsid w:val="00012198"/>
    <w:rsid w:val="00057BC9"/>
    <w:rsid w:val="00065D4D"/>
    <w:rsid w:val="0007072C"/>
    <w:rsid w:val="000717ED"/>
    <w:rsid w:val="0007187D"/>
    <w:rsid w:val="00083729"/>
    <w:rsid w:val="000903D2"/>
    <w:rsid w:val="0009263C"/>
    <w:rsid w:val="00095AB8"/>
    <w:rsid w:val="00096DFC"/>
    <w:rsid w:val="000978A8"/>
    <w:rsid w:val="000A46B5"/>
    <w:rsid w:val="000A5703"/>
    <w:rsid w:val="000A5C26"/>
    <w:rsid w:val="000B680F"/>
    <w:rsid w:val="000C5810"/>
    <w:rsid w:val="000C5E08"/>
    <w:rsid w:val="000D4CE9"/>
    <w:rsid w:val="000D55D6"/>
    <w:rsid w:val="000D58E1"/>
    <w:rsid w:val="000F384B"/>
    <w:rsid w:val="001013F4"/>
    <w:rsid w:val="00104B2C"/>
    <w:rsid w:val="00136BFF"/>
    <w:rsid w:val="00137C0B"/>
    <w:rsid w:val="001446AB"/>
    <w:rsid w:val="001447EC"/>
    <w:rsid w:val="0014481F"/>
    <w:rsid w:val="00145502"/>
    <w:rsid w:val="00155381"/>
    <w:rsid w:val="00161C52"/>
    <w:rsid w:val="00165172"/>
    <w:rsid w:val="00173338"/>
    <w:rsid w:val="001774B9"/>
    <w:rsid w:val="001777DC"/>
    <w:rsid w:val="00183146"/>
    <w:rsid w:val="00187095"/>
    <w:rsid w:val="001A0893"/>
    <w:rsid w:val="001A4347"/>
    <w:rsid w:val="001A7439"/>
    <w:rsid w:val="001B4406"/>
    <w:rsid w:val="001C20BC"/>
    <w:rsid w:val="001C62D7"/>
    <w:rsid w:val="001D3270"/>
    <w:rsid w:val="001D38F6"/>
    <w:rsid w:val="001D6C26"/>
    <w:rsid w:val="001E19FB"/>
    <w:rsid w:val="001F0B9F"/>
    <w:rsid w:val="001F2D94"/>
    <w:rsid w:val="001F495F"/>
    <w:rsid w:val="001F6485"/>
    <w:rsid w:val="00200685"/>
    <w:rsid w:val="00202726"/>
    <w:rsid w:val="0021040C"/>
    <w:rsid w:val="00226A66"/>
    <w:rsid w:val="002438A0"/>
    <w:rsid w:val="00253BFE"/>
    <w:rsid w:val="00256B1F"/>
    <w:rsid w:val="00263767"/>
    <w:rsid w:val="002647A7"/>
    <w:rsid w:val="00282E2E"/>
    <w:rsid w:val="00284788"/>
    <w:rsid w:val="00292447"/>
    <w:rsid w:val="002A1B30"/>
    <w:rsid w:val="002B154F"/>
    <w:rsid w:val="002B5D9B"/>
    <w:rsid w:val="002B7C2E"/>
    <w:rsid w:val="002C439A"/>
    <w:rsid w:val="002F28E0"/>
    <w:rsid w:val="002F665D"/>
    <w:rsid w:val="00304D47"/>
    <w:rsid w:val="00304E9D"/>
    <w:rsid w:val="00306155"/>
    <w:rsid w:val="00315B3B"/>
    <w:rsid w:val="00337908"/>
    <w:rsid w:val="00341331"/>
    <w:rsid w:val="0035315C"/>
    <w:rsid w:val="00353A4A"/>
    <w:rsid w:val="00367AF5"/>
    <w:rsid w:val="00370E30"/>
    <w:rsid w:val="00372E66"/>
    <w:rsid w:val="00382213"/>
    <w:rsid w:val="003850E4"/>
    <w:rsid w:val="00392493"/>
    <w:rsid w:val="003935DC"/>
    <w:rsid w:val="003A198E"/>
    <w:rsid w:val="003A4015"/>
    <w:rsid w:val="003A556C"/>
    <w:rsid w:val="003B1A67"/>
    <w:rsid w:val="003C04EC"/>
    <w:rsid w:val="003D17B0"/>
    <w:rsid w:val="003D3CCA"/>
    <w:rsid w:val="003F1E83"/>
    <w:rsid w:val="003F29A9"/>
    <w:rsid w:val="003F417C"/>
    <w:rsid w:val="00407564"/>
    <w:rsid w:val="00412203"/>
    <w:rsid w:val="00412305"/>
    <w:rsid w:val="0041271A"/>
    <w:rsid w:val="00421568"/>
    <w:rsid w:val="0042448F"/>
    <w:rsid w:val="00436A1B"/>
    <w:rsid w:val="00437967"/>
    <w:rsid w:val="00437C24"/>
    <w:rsid w:val="00437C72"/>
    <w:rsid w:val="00440CD1"/>
    <w:rsid w:val="0044693C"/>
    <w:rsid w:val="004478AD"/>
    <w:rsid w:val="00461A5A"/>
    <w:rsid w:val="0046372A"/>
    <w:rsid w:val="00471B07"/>
    <w:rsid w:val="004766E4"/>
    <w:rsid w:val="00480B30"/>
    <w:rsid w:val="004834DE"/>
    <w:rsid w:val="00483F32"/>
    <w:rsid w:val="00487CAD"/>
    <w:rsid w:val="00487E81"/>
    <w:rsid w:val="00494F45"/>
    <w:rsid w:val="004A21C2"/>
    <w:rsid w:val="004A373B"/>
    <w:rsid w:val="004A5105"/>
    <w:rsid w:val="004B068E"/>
    <w:rsid w:val="004B3D21"/>
    <w:rsid w:val="004C1E71"/>
    <w:rsid w:val="004C5C76"/>
    <w:rsid w:val="004D1BCE"/>
    <w:rsid w:val="004D6E86"/>
    <w:rsid w:val="004F3210"/>
    <w:rsid w:val="004F5F07"/>
    <w:rsid w:val="004F725B"/>
    <w:rsid w:val="005004E5"/>
    <w:rsid w:val="00501273"/>
    <w:rsid w:val="0050555C"/>
    <w:rsid w:val="00515CA7"/>
    <w:rsid w:val="00517EFE"/>
    <w:rsid w:val="00521E7E"/>
    <w:rsid w:val="005311EB"/>
    <w:rsid w:val="0053420E"/>
    <w:rsid w:val="005461F8"/>
    <w:rsid w:val="00555004"/>
    <w:rsid w:val="00556E71"/>
    <w:rsid w:val="005616E4"/>
    <w:rsid w:val="005634E0"/>
    <w:rsid w:val="00565EF9"/>
    <w:rsid w:val="00567095"/>
    <w:rsid w:val="00576A5A"/>
    <w:rsid w:val="00577A46"/>
    <w:rsid w:val="00593E4D"/>
    <w:rsid w:val="005A1D42"/>
    <w:rsid w:val="005A1DCC"/>
    <w:rsid w:val="005B0EF6"/>
    <w:rsid w:val="005C4507"/>
    <w:rsid w:val="005C5405"/>
    <w:rsid w:val="005C594B"/>
    <w:rsid w:val="005D4312"/>
    <w:rsid w:val="005D4FDB"/>
    <w:rsid w:val="005F2E92"/>
    <w:rsid w:val="005F3C4B"/>
    <w:rsid w:val="005F703E"/>
    <w:rsid w:val="00601D90"/>
    <w:rsid w:val="00602D90"/>
    <w:rsid w:val="00606B19"/>
    <w:rsid w:val="00613D8F"/>
    <w:rsid w:val="0062058E"/>
    <w:rsid w:val="00622A24"/>
    <w:rsid w:val="00623A51"/>
    <w:rsid w:val="00623EF9"/>
    <w:rsid w:val="00626CA3"/>
    <w:rsid w:val="00631BFF"/>
    <w:rsid w:val="006331A1"/>
    <w:rsid w:val="00634839"/>
    <w:rsid w:val="006351D8"/>
    <w:rsid w:val="00636294"/>
    <w:rsid w:val="0064016E"/>
    <w:rsid w:val="00655E98"/>
    <w:rsid w:val="0067595E"/>
    <w:rsid w:val="00676295"/>
    <w:rsid w:val="00684EF1"/>
    <w:rsid w:val="00687AD5"/>
    <w:rsid w:val="00690441"/>
    <w:rsid w:val="00694AAD"/>
    <w:rsid w:val="006A2157"/>
    <w:rsid w:val="006C655D"/>
    <w:rsid w:val="006C71E5"/>
    <w:rsid w:val="006D45FA"/>
    <w:rsid w:val="006D5860"/>
    <w:rsid w:val="006E1235"/>
    <w:rsid w:val="006F7EE3"/>
    <w:rsid w:val="00700757"/>
    <w:rsid w:val="00711DEE"/>
    <w:rsid w:val="0071328D"/>
    <w:rsid w:val="0072060E"/>
    <w:rsid w:val="0072708E"/>
    <w:rsid w:val="00736E19"/>
    <w:rsid w:val="00746FD8"/>
    <w:rsid w:val="00754AB3"/>
    <w:rsid w:val="00757240"/>
    <w:rsid w:val="00760AEF"/>
    <w:rsid w:val="007626C7"/>
    <w:rsid w:val="00763962"/>
    <w:rsid w:val="00775ED5"/>
    <w:rsid w:val="00782FEB"/>
    <w:rsid w:val="00785748"/>
    <w:rsid w:val="007B09E2"/>
    <w:rsid w:val="007D156D"/>
    <w:rsid w:val="007D2BB9"/>
    <w:rsid w:val="007D447A"/>
    <w:rsid w:val="007D48A7"/>
    <w:rsid w:val="007E76B6"/>
    <w:rsid w:val="00801A91"/>
    <w:rsid w:val="00801C57"/>
    <w:rsid w:val="0080416A"/>
    <w:rsid w:val="008133AB"/>
    <w:rsid w:val="00824279"/>
    <w:rsid w:val="00826E7C"/>
    <w:rsid w:val="00833A5C"/>
    <w:rsid w:val="00833D67"/>
    <w:rsid w:val="0084042E"/>
    <w:rsid w:val="0084525D"/>
    <w:rsid w:val="0085740F"/>
    <w:rsid w:val="008603D0"/>
    <w:rsid w:val="00870D39"/>
    <w:rsid w:val="00873FF8"/>
    <w:rsid w:val="00887EE5"/>
    <w:rsid w:val="0089159B"/>
    <w:rsid w:val="00892FA9"/>
    <w:rsid w:val="008A09F5"/>
    <w:rsid w:val="008A1DAA"/>
    <w:rsid w:val="008A71FC"/>
    <w:rsid w:val="008C1DA3"/>
    <w:rsid w:val="00915B7A"/>
    <w:rsid w:val="009203FD"/>
    <w:rsid w:val="009235F8"/>
    <w:rsid w:val="009304F8"/>
    <w:rsid w:val="0095018B"/>
    <w:rsid w:val="00955FC0"/>
    <w:rsid w:val="00962CA9"/>
    <w:rsid w:val="009659F3"/>
    <w:rsid w:val="009671A0"/>
    <w:rsid w:val="00967F0A"/>
    <w:rsid w:val="00983754"/>
    <w:rsid w:val="0098485B"/>
    <w:rsid w:val="00991EAD"/>
    <w:rsid w:val="009A7CF3"/>
    <w:rsid w:val="009B4AF3"/>
    <w:rsid w:val="009D0C6D"/>
    <w:rsid w:val="009D0E37"/>
    <w:rsid w:val="009D1AAA"/>
    <w:rsid w:val="009E072A"/>
    <w:rsid w:val="009E3F97"/>
    <w:rsid w:val="009E55D5"/>
    <w:rsid w:val="009F2626"/>
    <w:rsid w:val="009F29FA"/>
    <w:rsid w:val="009F7582"/>
    <w:rsid w:val="00A06964"/>
    <w:rsid w:val="00A22E56"/>
    <w:rsid w:val="00A2790B"/>
    <w:rsid w:val="00A44785"/>
    <w:rsid w:val="00A54CB2"/>
    <w:rsid w:val="00A55412"/>
    <w:rsid w:val="00A61B7B"/>
    <w:rsid w:val="00A6434C"/>
    <w:rsid w:val="00A667EF"/>
    <w:rsid w:val="00A66CED"/>
    <w:rsid w:val="00A7201C"/>
    <w:rsid w:val="00A729ED"/>
    <w:rsid w:val="00A72E2A"/>
    <w:rsid w:val="00A73F11"/>
    <w:rsid w:val="00A74C30"/>
    <w:rsid w:val="00A77271"/>
    <w:rsid w:val="00A8131C"/>
    <w:rsid w:val="00A82F4C"/>
    <w:rsid w:val="00A86FD2"/>
    <w:rsid w:val="00A87534"/>
    <w:rsid w:val="00A936C9"/>
    <w:rsid w:val="00AA4A50"/>
    <w:rsid w:val="00AC091E"/>
    <w:rsid w:val="00AC4D13"/>
    <w:rsid w:val="00AE1439"/>
    <w:rsid w:val="00AE1914"/>
    <w:rsid w:val="00AE3798"/>
    <w:rsid w:val="00AF0FA9"/>
    <w:rsid w:val="00AF79D1"/>
    <w:rsid w:val="00B00970"/>
    <w:rsid w:val="00B0099E"/>
    <w:rsid w:val="00B15545"/>
    <w:rsid w:val="00B23046"/>
    <w:rsid w:val="00B301DA"/>
    <w:rsid w:val="00B35A64"/>
    <w:rsid w:val="00B37FD5"/>
    <w:rsid w:val="00B457BE"/>
    <w:rsid w:val="00B54E0C"/>
    <w:rsid w:val="00B72464"/>
    <w:rsid w:val="00B8393E"/>
    <w:rsid w:val="00B909A8"/>
    <w:rsid w:val="00B95CDD"/>
    <w:rsid w:val="00B96533"/>
    <w:rsid w:val="00BA4C85"/>
    <w:rsid w:val="00BC5EEA"/>
    <w:rsid w:val="00BD2160"/>
    <w:rsid w:val="00BD32AB"/>
    <w:rsid w:val="00BD3F94"/>
    <w:rsid w:val="00BD4D16"/>
    <w:rsid w:val="00BD6783"/>
    <w:rsid w:val="00BE118F"/>
    <w:rsid w:val="00BE3305"/>
    <w:rsid w:val="00BE5655"/>
    <w:rsid w:val="00BF0815"/>
    <w:rsid w:val="00BF644A"/>
    <w:rsid w:val="00C058A7"/>
    <w:rsid w:val="00C17C5B"/>
    <w:rsid w:val="00C20E49"/>
    <w:rsid w:val="00C239A5"/>
    <w:rsid w:val="00C33DC2"/>
    <w:rsid w:val="00C47FE0"/>
    <w:rsid w:val="00C52DFE"/>
    <w:rsid w:val="00C5406C"/>
    <w:rsid w:val="00C5409B"/>
    <w:rsid w:val="00C62B7D"/>
    <w:rsid w:val="00C94E89"/>
    <w:rsid w:val="00CA38B6"/>
    <w:rsid w:val="00CB232C"/>
    <w:rsid w:val="00CB416E"/>
    <w:rsid w:val="00CB7FB0"/>
    <w:rsid w:val="00CC443C"/>
    <w:rsid w:val="00CC541D"/>
    <w:rsid w:val="00CC5A61"/>
    <w:rsid w:val="00CC736F"/>
    <w:rsid w:val="00CD390C"/>
    <w:rsid w:val="00CF0C95"/>
    <w:rsid w:val="00CF0E1D"/>
    <w:rsid w:val="00CF3A45"/>
    <w:rsid w:val="00CF5BB2"/>
    <w:rsid w:val="00D12205"/>
    <w:rsid w:val="00D150A3"/>
    <w:rsid w:val="00D21785"/>
    <w:rsid w:val="00D42647"/>
    <w:rsid w:val="00D44A62"/>
    <w:rsid w:val="00D50B31"/>
    <w:rsid w:val="00D50CB9"/>
    <w:rsid w:val="00D6163A"/>
    <w:rsid w:val="00D6660B"/>
    <w:rsid w:val="00D75C53"/>
    <w:rsid w:val="00D77652"/>
    <w:rsid w:val="00D824B0"/>
    <w:rsid w:val="00D82C25"/>
    <w:rsid w:val="00D863A5"/>
    <w:rsid w:val="00D96CAE"/>
    <w:rsid w:val="00DA1640"/>
    <w:rsid w:val="00DB1642"/>
    <w:rsid w:val="00DC43A9"/>
    <w:rsid w:val="00DE200C"/>
    <w:rsid w:val="00DE42C1"/>
    <w:rsid w:val="00E20AD6"/>
    <w:rsid w:val="00E21EE0"/>
    <w:rsid w:val="00E25ADB"/>
    <w:rsid w:val="00E25FFA"/>
    <w:rsid w:val="00E27623"/>
    <w:rsid w:val="00E35C2B"/>
    <w:rsid w:val="00E3792C"/>
    <w:rsid w:val="00E400DC"/>
    <w:rsid w:val="00E4623C"/>
    <w:rsid w:val="00E53CD3"/>
    <w:rsid w:val="00E6088F"/>
    <w:rsid w:val="00E70318"/>
    <w:rsid w:val="00E8480A"/>
    <w:rsid w:val="00E94ADD"/>
    <w:rsid w:val="00EA31FD"/>
    <w:rsid w:val="00EC0956"/>
    <w:rsid w:val="00EC1182"/>
    <w:rsid w:val="00ED16B3"/>
    <w:rsid w:val="00EE26AC"/>
    <w:rsid w:val="00EF119C"/>
    <w:rsid w:val="00EF47C2"/>
    <w:rsid w:val="00F0155A"/>
    <w:rsid w:val="00F059D9"/>
    <w:rsid w:val="00F104CC"/>
    <w:rsid w:val="00F11C12"/>
    <w:rsid w:val="00F149A9"/>
    <w:rsid w:val="00F2452B"/>
    <w:rsid w:val="00F26190"/>
    <w:rsid w:val="00F330AB"/>
    <w:rsid w:val="00F365B3"/>
    <w:rsid w:val="00F46986"/>
    <w:rsid w:val="00F61956"/>
    <w:rsid w:val="00F839B0"/>
    <w:rsid w:val="00F8415E"/>
    <w:rsid w:val="00F91BD2"/>
    <w:rsid w:val="00F91DBE"/>
    <w:rsid w:val="00F940C1"/>
    <w:rsid w:val="00F94602"/>
    <w:rsid w:val="00F97EA5"/>
    <w:rsid w:val="00FA3EED"/>
    <w:rsid w:val="00FA6D9C"/>
    <w:rsid w:val="00FA7EE9"/>
    <w:rsid w:val="00FB4FEA"/>
    <w:rsid w:val="00FB5E74"/>
    <w:rsid w:val="00FC2B35"/>
    <w:rsid w:val="00FC307F"/>
    <w:rsid w:val="00FD691E"/>
    <w:rsid w:val="00FD7EB0"/>
    <w:rsid w:val="00FE4D86"/>
    <w:rsid w:val="00FE5AAB"/>
    <w:rsid w:val="00FF07D8"/>
    <w:rsid w:val="03B24C65"/>
    <w:rsid w:val="084542FA"/>
    <w:rsid w:val="0A03621B"/>
    <w:rsid w:val="0D094556"/>
    <w:rsid w:val="0E9E615E"/>
    <w:rsid w:val="0F621C35"/>
    <w:rsid w:val="161F43DC"/>
    <w:rsid w:val="18E24FFF"/>
    <w:rsid w:val="19600F94"/>
    <w:rsid w:val="1BE44EAC"/>
    <w:rsid w:val="1D4767DA"/>
    <w:rsid w:val="22BF471C"/>
    <w:rsid w:val="25E76599"/>
    <w:rsid w:val="27443A19"/>
    <w:rsid w:val="2E2A1636"/>
    <w:rsid w:val="2EAD4823"/>
    <w:rsid w:val="30C011E1"/>
    <w:rsid w:val="3A182FC2"/>
    <w:rsid w:val="3CFB2BFE"/>
    <w:rsid w:val="4A9D52F4"/>
    <w:rsid w:val="4D703252"/>
    <w:rsid w:val="4FBB16AB"/>
    <w:rsid w:val="55AE5611"/>
    <w:rsid w:val="58255493"/>
    <w:rsid w:val="5E7D0E9A"/>
    <w:rsid w:val="5EB10045"/>
    <w:rsid w:val="610769D0"/>
    <w:rsid w:val="612959E1"/>
    <w:rsid w:val="69057ABF"/>
    <w:rsid w:val="795409C4"/>
    <w:rsid w:val="79EE2870"/>
    <w:rsid w:val="7B5D0004"/>
    <w:rsid w:val="7BEC1388"/>
    <w:rsid w:val="7F945FBF"/>
  </w:rsids>
  <m:mathPr>
    <m:mathFont m:val="Cambria Math"/>
    <m:brkBin m:val="before"/>
    <m:brkBinSub m:val="--"/>
    <m:smallFrac m:val="0"/>
    <m:dispDef/>
    <m:lMargin m:val="0"/>
    <m:rMargin m:val="0"/>
    <m:defJc m:val="centerGroup"/>
    <m:wrapIndent m:val="1440"/>
    <m:intLim m:val="subSup"/>
    <m:naryLim m:val="undOvr"/>
  </m:mathPr>
  <w:themeFontLang w:val="en-US" w:eastAsia="zh-CN"/>
  <w:clrSchemeMapping w:bg1="light1" w:t1="dark1" w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2" w:accent3="accent3" w:accent4="accent4" w:accent5="accent5" w:accent6="accent6" w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink"/>
  <w:doNotIncludeSubdocsInStats/>
  <w:shapeDefaults>
    <o:shapedefaults fillcolor="#FFFFFF" fill="t" stroke="t">
      <v:fill on="t" focussize="0,0"/>
      <v:stroke color="#000000"/>
    </o:shapedefaults>
    <o:shapelayout v:ext="edit">
      <o:idmap v:ext="edit" data="1"/>
    </o:shapelayout>
  </w:shapeDefaults>
  <mc:AlternateContent>
    <mc:Choice Requires="wpsCustomData">
      <wpsCustomData:typoFeatureVersion val="1"/>
    </mc:Choice>
  </mc:AlternateContent>
</w:settings>
